* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 设置整体页面高度 */
html, body {
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* 上方导航栏 */
.guide {
    width: 100%;
    height: 50px;
    background-color: #2e303e;
    color: #ffffff;
    display: flex;
    justify-content: left;
    align-items: center;
}

/* 导航栏中的图标 */
.guide .Logo {
    color: #ffffff;
    width: 40px;
    height: 40px;
    margin-left: 30px;
    margin-right: 10px;
    border-radius: 50%;
}

/* 导航栏中的占位器 */
.guide .spacer {
    width: 5%;
}

/* 导航栏中的按钮 */
.guide a {
    color: #ffffff;
    text-decoration: none;
    padding: 0 10px;
}

/* 页面内容  版心 */
.container {
    /* 使用 calc 计算高度 */
    height: calc(100% - 50px);
    /* 设置版心宽度 */
    width: 100%;
    /* 水平居中 */
    margin: 0 auto;
    /* 使用弹性布局 */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 左侧部分，用来放置用户信息 */
.container-left {
    height: 100%;
    width: 10%;
    /* 若内容溢出则自动加上滚动条 */
    overflow: auto;
    background-color: #2e303e;
    border-radius: 10px;
}

/* 右侧部分，用来放置正文 */
.container-main {
    height: 100%;
    width: 70%;
    /* 若内容溢出则自动加上滚动条 */
    overflow: auto;
    background-color: #2e303e;
    border-radius: 10px;
}

/* 导航栏中的按钮 */
.container-left a {
    color: #ffffff;
    text-decoration: none;
    padding: 0 10px;
}



